<template>
    <div>
        <div class="input-group">
            <input id="btn-input" type="text" name="message" class="form-control input-sm"
                   placeholder="Type your message here..." v-model="newMessage" @keyup.enter="sendMessage">

            <span class="input-group-btn">
            <button :disabled="attachments.length < filesCount" type="submit"
                    class="btn btn-primary btn-sm" id="btn-chat" @click="sendMessage">
                Send
            </button>
        </span>
        </div>
        <div class="field">
            <div class="file is-primary">
                <label class="file-label">
                    <input class="file-input" type="file" id="files" multiple
                           name="files[]" accept="image/*,.doc,.docx"
                           @change="loadAttachments">

                    <span class="file-cta">
                        <span class="icon">
                            <b-icon icon="cloud-upload">
                            </b-icon>
                            </span>
            <span class="file-label">
                Upload files
            </span>
          </span>
                </label>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['user', 'roomId'],

        data() {
            return {
                newMessage: '',
                attachments: [],
                filesCount: 0
            }
        },

        methods: {
            loadAttachments() {
                this.attachments = [];
                var files = document.getElementById('files').files;
                this.filesCount = files.length;
                var step = 0, fm = this;
                var reader = new FileReader();
                reader.onloadend = function () {
                    fm.attachments.push(reader.result);
                    if (step < files.length) {
                        reader.readAsDataURL(files[step++]);
                    } else {
                        fm.filesCount = 0;
                        $('#files').prop('value', '');
                    }
                };
                reader.readAsDataURL(files[step++]);

            },
            sendMessage() {

                this.$emit('messagesent', {
                    user: this.user,
                    attachments: this.attachments,
                    message: this.newMessage,
                    room_id: this.roomId
                });
                this.newMessage = '';
                this.attachments = [];
            }
        }
    }
</script>

<style>
    .file-label {
        margin-left: 20px;
    }

    .field {
        padding-top: 10px;
    }
</style>