<template>
    <ul class="chat">
        <li class="left clearfix" v-if="messages.length > 0" v-for="(message,index) in messages">
            <div class="chat-body clearfix">
                <div class="col-md-8 text-left">
                    <div class="header">
                        <strong class="primary-font">
                            {{ message.user.name }}
                        </strong>
                    </div>
                    <p>
                        {{ message.message }}
                    </p>
                </div>
                <div class="col-md-offset-1 col-md-2">
                    <i>{{ message.updated_at }}</i>
                </div>
                <div class="col-md-1" v-if="message.user_id == authUser.id">

                   <span class="icon is-small" @click="showModal(message)">
                        <b-icon icon="pencil-circle "></b-icon>
                    </span>
                    <span class="icon is-small" @click="removeMessage(message,index)">
                        <b-icon icon="close-circle"></b-icon>
                    </span>
                </div>
            </div>
            <a :href="attachment.file_path" v-for="attachment in message.attachments">
                <span class="tag is-info">{{ attachment.file_name }}</span>
            </a>
        </li>
        <b-modal :active.sync="editModalActive" has-modal-card>
            <div class="card">
                <div class="card-content">
                    <b-field label="New message">
                        <b-input v-model="message.message"></b-input>
                    </b-field>
                    <button class="button is-primary is-centered"
                            @click="updateMessage(message,index)">Save
                    </button>
                </div>
            </div>
        </b-modal>
    </ul>
</template>

<script>
    export default {
        props: ['messages', 'authUser'],
        data() {
            return {
                editModalActive: false,
                message: {message: ''}
            }
        },
        methods: {
            showModal(message, index) {
                this.message = message
                this.editModalActive = true
            },
            updateMessage(message) {
                axios.put('/messages/' + message.id, message).then(response => {
                    this.editModalActive = false
                });
            },
            removeMessage(message, index) {
                axios.delete('/messages/' + message.id).then();
                this.messages.splice(index, 1);
            }
        },

    };
</script>