<template>
    <div class="panel panel-default">
        <div class="panel-heading">
            <b-field label="Jump to date">
                <b-datepicker
                        placeholder="Click to select..."
                        icon="calendar-today"
                        v-model="date"
                        @input="selectDate">
                </b-datepicker>
            </b-field>
        </div>

        <div class="panel-body">
            <p v-for="user in users">
                <a v-if="user.self != true" :href="'/dialog/'+user.id">{{ user.name }}</a>
                <a v-else>{{ user.name }}</a>
            </p>
        </div>
        <div class="panel-footer">
            <b-field label="Find user to add">
                <b-autocomplete
                        v-model="search.name"
                        :data="asyncUsers"
                        placeholder="e.g. jQuery"
                        field="name"
                        icon="magnify"
                        @input="getAsyncData"
                        @select="option => selected = option">
                    <template slot="empty">No results found</template>
                </b-autocomplete>
            </b-field>
            <button class="button is-primary" @click="addUser">Add user</button>

        </div>

    </div>
</template>

<script>
    export default {
        props: ['messages', 'users', 'roomId'],
        data: function () {
            return {
                search: {
                    name: ''
                },
                date: new Date(),
                asyncUsers: [],
                selectedUser: null
            }
        },
        methods: {
            selectDate() {
                axios.get(this.roomId + '/messages?created_at=' + this.date.toLocaleDateString())
                    .then(response => {
                        this.messages = response.data.messages;
                        this.$emit('selectdate', this.messages)
                    });
            },
            getAsyncData: _.debounce(function () {
                axios.get(`/room/${this.roomId}/fetch-users/?name=${this.search.name}`)
                    .then(({data}) => {
                        this.asyncUsers = data
                    })
            }, 500),
            addUser() {
                axios.post(`/room/${this.roomId}/users`, this.selected)
                    .then(({data}) => {
                        if (data)
                            this.users.push(this.selected)
                    })
            }
        }
    };
</script>