<template>
    <div>
        <div class="panel-heading">Rooms</div>

        <div class="panel-body">
            <p v-for="room in rooms"><a :href="'room/'+room.id">{{ room.name }}</a></p>
        </div>
        <div class="panel-footer">
            <b-field label="Room name">
                <b-input @keyup.enter="addRoom"
                         v-model="newRoom.name"
                         :placeholder="'Enter room name ...'"
                ></b-input>
            </b-field>
            <div class="field">
                <b-checkbox v-model="newRoom.is_public">
                    Is public
                </b-checkbox>
            </div>
            <button class="button is-primary" @click="addRoom">Add room</button>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                rooms: [],
                newRoom: {
                    name: '',
                    is_public: 0
                }
            }
        },
        mounted() {
            axios.get('rooms').then(response => {
                this.rooms = response.data
            })
        },
        methods: {
            addRoom() {
                axios.post('rooms', this.newRoom).then(response => {
                    this.rooms.push(response.data)
                })
            }
        }
    }
</script>
